
# Created by https://www.gitignore.io/api/unrealengine
# Edit at https://www.gitignore.io/?templates=unrealengine

### UnrealEngine ###
# Visual Studio 2015 user specific files
*.ipch

# Precompiled Headers
*.gch
*.pch

# End of https://www.gitignore.io/api/unrealengine
HelloCode_2/.vs/HelloCode/v15/Browse.VC.db
HelloCode_2/.vs/HelloCode/v15/Browse.VC.opendb
